

services:
  influxdb:
    image: influxdb:2.7
    container_name: influxdb-opt
    restart: unless-stopped
    ports:
      - "8086:8086"
    environment:
      DOCKER_INFLUXDB_INIT_MODE: "setup"
      DOCKER_INFLUXDB_INIT_USERNAME: "${INFLUX_USERNAME}"
      DOCKER_INFLUXDB_INIT_PASSWORD: "${INFLUX_PASSWORD}"
      DOCKER_INFLUXDB_INIT_ORG: "${INFLUX_ORG}"
      DOCKER_INFLUXDB_INIT_BUCKET: "${INFLUX_BUCKET}"
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: "${INFLUX_TOKEN}"
    volumes:
      - ./volumes/influxdb:/var/lib/influxdb2
    networks:
      - iot-net

  grafana:  # Grafana Service
    # Local development build from services/grafana
    build:
      context: ./services/grafana
      dockerfile: Dockerfile
    container_name: grafana-opt
    restart: unless-stopped
    depends_on:
      - influxdb
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: "${GF_ADMIN_USER}"
      GF_SECURITY_ADMIN_PASSWORD: "${GF_ADMIN_PASSWORD}"
      GF_PATHS_HOME: "/usr/share/grafana"
      GF_LOG_MODE: "console"
      GF_USERS_DEFAULT_THEME: "${GF_USERS_DEFAULT_THEME:-light}"
      GF_PANELS_DISABLE_SANITIZE_HTML: "${GF_PANELS_DISABLE_SANITIZE_HTML:-true}"
      GF_NEWS_NEWS_FEED_ENABLED: "${GF_NEWS_NEWS_FEED_ENABLED:-false}"
      GF_LIVE_ENABLED: "false"
    volumes:
      # Mount source code for live development
      - ./services/grafana/public:/usr/share/grafana/public
      - ./services/grafana/provisioning:/etc/grafana/provisioning
      - ./services/grafana/dashboards:/var/lib/grafana/dashboards
      # Data persistence
      - ./volumes/grafana:/var/lib/grafana
    networks:
      - iot-net



  nodered:  # Node-RED Service
    build:
      context: ./services/nodered
      dockerfile: Dockerfile
    container_name: nodered-opt
    restart: unless-stopped
    ports:
      - "1880:1880"
    volumes:
      # Mount data for persistence
      - ./volumes/nodered:/data
      # Mount source for dev editing
      - ./services/nodered/flows.json:/data/flows.json
      - ./services/nodered/settings.js:/data/settings.js
    environment:
      TZ: "Asia/Jakarta"
    networks:
      - iot-net

  mosquitto:  # Mosquitto MQTT Broker
    image: eclipse-mosquitto:latest
    container_name: mosquitto-opt
    restart: unless-stopped
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./services/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./volumes/mosquitto/data:/mosquitto/data
      - ./volumes/mosquitto/log:/mosquitto/log
    networks:
      - iot-net

networks:
  iot-net:
    driver: bridge
